@import "tailwindcss";
@plugin "daisyui"
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #f4aa3a;
    --color-secondary: #f4f4a1;
    --color-accent: #1be885;
    --color-neutral: #272136;
    --color-base-100: #FFFFFF;
    --color-info: #778ad4;
    --color-success: #23b893;
    --color-warning: #f79926;
    --color-error: #ea535a;
    --color-body-background: #e3e6e6;
}
